h2{
    animation-name: animation1;
    animation-duration: 2s;
    animation-iteration-count: 2;
}
  @keyframes animation1 {
    from {font-weight: lighter;}
    to {font-weight: bold;}
  }


  footer {
    text-align: center;
    padding: 3px;
    color: white;
  }
  body{
    background-image: url("../images/signUp2.jpg");
    background-image:cover;
}
#form1{
  background-image: url("../images/bg.jpg");
  background-size:cover;
  padding: 30px;
}
.displayBadge{
  margin-top: 1%; 
  display: none; 
  text-align :center;
}

#progressbar {
  margin-top: 3%; 
  background-color: rgb(216, 179, 179);
  border-radius: 4px;
  /* (height of inner div) / 2 + padding */
  padding: 2px;
  display: none; 
}

#progress {
  background-color: orange;
  width: 0%;
  /* Adjust with JavaScript */
  height: 3px;
  border-radius: 5px;
}
#pwMatch{
    margin-top: 1px; 
  text-align :center;
}
#emailValid{
  margin-top: 1px;  
text-align :center;
}
#NameError{
  margin-top: 1px; 
  text-align :center;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 10px;
  margin-top: 2px;
  margin-bottom:5px;
}

#message p {
  padding: 2px 5px;
  font-size: 10px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -10px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: rgb(102, 95, 95);
}

.invalid:before {
  position: relative;
  left: -10px;
  content: "";
}